@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;

}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
}

.page-header {
    display: flex;
    position: relative;
    width: 1200px;
    color: #000000;
    background: #ffffff;
    padding: 0 67px 0 70px;
    box-sizing: border-box;
}

.page-logo {
    height: 65px;
    z-index: 1;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 42px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
}

.navigation-item {
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000000;
    max-width: 110px;
    margin: 0%;
}

.navigation-link {
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px;
    display: block;
    word-wrap: inherit;
}

.navigation-icon {
    min-width: 264px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 14px 0 14px 0;
}

.navigation-search {
    text-decoration: none;
    padding: 7px;
}

.navigation-search::before {
    content: url("./images/vector/search.svg");
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.navigation-like {
    text-decoration: none;
    margin-left: 5px;
    padding: 8px;
}

.navigation-like::before {
    content: url("./images/vector/like.svg");
    width: 18px;
    height: 17px;
}

.like-counter {
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    background: #7DB54F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 248px;
    top: 15px;
}

.navigation-button {
    display: inline-flex;
    width: 160px;
    border-radius: 4px;
    background: #756157;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 21px;
}

.navigation-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

/* .advantages-image {
    min-width: 800px;
    min-height: 384px;
    object-fit: cover;
} */

.main-background {
    background-image: url(./images/main-background.jpg);
    position: relative;
    width: 1200px;
    height: 485px;
    color: #000000;
    background-color: #82B3D3;
    background-repeat: no-repeat;
}

.main-background::before {
    content: url("./images/vector/divider.svg");
    position: absolute;
    bottom: 0;
    height: 57px;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.desc {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    color: #000000;
    background: #ffffff;
    padding: 63px 270px 90px 270px;
    margin: 0;
}

.headline {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background-size: 100% auto;
    color: #000000;
    margin: 0 0 31px 0;
}

.preview {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0;
}

.advantages {
    width: 1200px;
    color: #000000;
    background: #ffffff;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding: 73px 85px 102px 85px;
    width: 400px;
}

.advantages-features {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background: rgba(131, 179, 211, 0.12);
}

.feature {
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
}

.feature {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding: 80px 85px 81px 85px;
    width: 400px;
}

.feature-desc {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.advantages-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.advantages-block-1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.advantages-preview {
    width: 400px;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #82B3D3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    padding: 68px 86px 82px 85px;
}

.advantages-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 230px;
    height: 56px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-desc {
    margin-top: 0;
    margin-bottom: 17px;
    text-align: center;
}

.house-icon::before {
    content: url("./images/vector/house.svg");
    width: 75px;
    height: 72px;
    margin: auto;
}

.feature-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 30px 0 30px 0;
}

.food-icon {
    background: #FFFFFF;
}

.food-icon::before {
    content: url("./images/vector/food.svg");
    margin: auto;
    width: 73px;
    height: 70px;
}

.present-icon::before {
    content: url("./images/vector/present.svg");
    width: 64px;
    height: 76px;
    margin: auto;
}

.advantages-color {
    background: rgba(131, 179, 211, 0.2);
}

.desc-mailing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 91px 300px 93px 300px;
    margin: 0;
    color: #000000;
    background: #ffffff;
    background-size: 100% auto;
}

.mailing {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
}

.mailing-preview {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin: 0 4px 56px 4px;
    padding: 0;
}

.search {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background: #756157;
    width: 574px;
    height: 60px;
    border-radius: 4px;
    margin: 0 13px 0 13px;
    padding: 0;
}

.search-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.page-footer-container {
    width: 1200px;
    margin: 0 auto;
}

.subscription {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    background-color: #82B3D3;
    color: #FFFFFF;
    padding: 94px 200px;
}

.subscription-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 29px;
}

.subscription-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 46px;
}

.subscription-form {
    display: flex;
    width: 800px;
    height: 60px;
    margin: 0;
}

.input-text {
    width: 577px;
    height: 58px;
    border-radius: 10px 0px 0px 10px;
    border: #000000;
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 22px;
}

.subscribe-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background: #82B3D3;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    border: #000000;
}

.footer-background {
    background: #82B3D3;
    background-image: url(./images/footer-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    color: #000000;
    background: #ffffff;
    background-size: 100% auto;
    width: 1200px;
    box-sizing: border-box;
    padding: 39px 64px 29px;
    justify-content: space-between;
}

.footer-list a {
    margin: 0 5px;
}

.footer-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.icon-1 {
    content: url("./images/vector/vkontakte.svg");
    width: 24px;
    height: 14px;
    padding: 6px;
}

.icon-2 {
    content: url("./images/vector/telegram.svg");
    width: 18px;
    height: 15px;
    padding: 6px;
}

.icon-3 {
    content: url("./images/vector/youtube.svg");
    width: 22px;
    height: 17px;
    padding: 6px;
}

.contact-number {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 6px;
}

.main-page {
    padding: 6px;
}

.logo-academy::before {
    content: url("./images/vector/logo-academy.svg");
    width: 115px;
    height: 33px;
}